body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input.indexpic {
    max-width: 280px;
}

/*Home Index*/

.layouthead img{
    height: 100%;
}

.layouthead{
    height: 100px;
    background-color: #FFF;
}

div.container{
    margin-bottom: 0px;
}

div.indexcontainer{
    margin-top: 70px;
}

.indexptags{
    padding: 0 !important;
    margin: 0 !important;
    display:inline-block;
    width: inherit;
}

.indexptags2 {
    display: inline-block;
    width: 40%;
    vertical-align: top;
    text-align: justify;
    margin-left: 20%;
}

.indexpic{
    width: 100%;
    height: auto;

}

p.parkname{
    font-weight: bold;
    font-family:cursive;
    font-size:1.5em;
}

/* Detail */

div.detailsubcontainer{
    margin-top: 70px;
    width: 100%;
    height: auto;
    
}

div.detailpic{
    display: inline-block;
    vertical-align: top;
    
}

img.picdetailpic{
    width: 100%;
    height: auto; 
    border-radius: 50%;
    border-color:blueviolet;
    
}

div.detailinfo {
    
    display: inline-block;
    vertical-align: top;
    width: auto;
    margin-left: 180px;
}

div.detailtitles{
   
    
}

div.detailtitles2 {
    margin-left: 100px;
    text-align: right;
    
}





p.testthis{
    text-align: center;
    font-size:larger;
    font-weight: bolder;
    font-family:cursive;
}

div.detailtitles p{
    font-weight: bold;
    margin-bottom: 0;
    padding-bottom: 0;
}

div.detailtitles2 p {
    
    margin-bottom: 0;
    padding-bottom: 0;
}

.quoteblock{
    margin-top: 10px;
    text-align: center;
}

.quote{
    font-family: cursive;
    text-align: center;
    width: 500px;

}

.author{
    font-size: smaller;
    font-style:italic;
    text-align: center;
    width: 500px;
}

.description{
    margin-top: 30px;
    font-family:'Comic Sans MS';
    text-align: center;
}

.thebutton{
    text-align:center;
    height: 40px;
    
    width: 40%;
    margin-left: auto;
    margin-right: auto;       
    
}

.thebutton2{
    padding-top:0;
}

/*Weather View*/

.weathercolumn{
    display:inline-block;
}

.weatherpics{
    height: 25%;
}

#help{
    margin-left: auto;
    margin-right:auto;    
}

/* Survey Page */
span.highlight {
	color:darkred;
}
div.mainSurveyContainer {
	margin-top: 10em;
}

div.mainSurveyContainer h2 {
	text-align: center;
	font-size: 3em;
	margin-bottom: 1.4em;
}

div.center {
	display: inline-block;
	background-color: #F5F5F5;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	padding: 2em;
	border: 1px solid #79de6c;
}
div.surveyLabels {
	width: 20vw;
	display: inline-block;
	vertical-align: top;
}
div.surveyLabels p {
	margin-bottom: 1.1em;
}
div .surveycontainer {
	width: 20vw;
	display: inline-block;
}
div.surveycontainer select {
	width: 100%;
	margin-bottom: 1em;
}
div.surveycontainer .emailInput {
	width: 100%;
	margin-bottom: 1em;
}
div.surveycontainer button {
	display: block;
	margin: 0 auto;
	background-color: white;
	border: 2px black solid;
}
div.surveycontainer button:hover {
	border: 2px solid #79de6c;
}

div.mainSurveyContainer h4 {
	font-size: 2em;
	text-align: center;
	margin: 1em 0;
}

/* Favorites Page */
div.mainFavoritesContainer {
	margin-top: 10em;
}
div.mainFavoritesContainer h2 {
	text-align: center;
	font-size: 3em;
	margin-bottom: 1.4em;
}
div.mainFavoritesContainer img {
	width: 30vw;
	height: auto;
	margin-right: 2em;
}
div.rankContainer {
	display: inline-block;
	width: 70vw;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	margin-bottom: 2em;
}
div.mainFavoritesContainer p.favoritesParkName {
	display: inline-block;
	font-weight: bold;
	font-size: 1.6em;
}
div.mainFavoritesContainer p.rank {
	display: block;
}
div.favoritesInfo {
	display: inline-block;
}