@model IList<NPGeek.Web.Models.ParkModel>
@{
    ViewBag.Title = "Index";
}

<h2>HomePage</h2>

@foreach (var park in Model)
{
	<p>@park.ParkName</p>
    <form action="@Url.Action("Detail")" method="get">
        <input type="image" src="~/Content/@(park.ParkCode).jpg" value="@park.ParkCode" name="parkCode" />
    </form>
    <p>@park.ParkDescription</p>
}

