@model IList<NPGeek.Web.Models.WeatherModel>


@foreach (var weather in Model)
{
	if (weather.Forecast == "partly cloudy")
	{
		<img src="~/Content/partlyCloudy.png" alt="Forecast" />
	}
	else
	{
		<img src="~/Content/@(weather.Forecast).png" alt="Forecast" />
	}
	<li>@weather.Low</li>
	<li>@weather.High</li>
	<li>@weather.Forecast</li>
}

