@model IList<NPGeek.Web.Models.WeatherModel>

<div>
    @foreach (var weather in Model)
    {

        if (weather.Forecast == "partly cloudy")
        {
            <img src="~/Content/partlyCloudy.png" alt="Forecast" />
        }
        else
        {
            <img src="~/Content/@(weather.Forecast).png" alt="Forecast" />
        }

        if (Model[0].TempPicker == "F")
        {
            <p>High @weather.High F</p>
            <p>Low @weather.Low F</p>
        }
        else if (Model[0].TempPicker == "C")
        {
            <p>High @(((weather.High) - 32) * 5/9) C</p>
            <p>Low @(((weather.Low) - 32) * 5 / 9) C </p>
        }

        if (weather.Forecast == "snow")
        {
            <p>Recommendation: Pack snowshoes</p>
        }
        else if (weather.Forecast == "rain")
        {
            <p>Recommendation: Pack rain gear and waterproof shoes</p>
        }
        else if (weather.Forecast == "thunderstorms")
        {
            <p>Recommendation: Seek shelter and avoid hiking on exposed ridges</p>
        }
        else if (weather.Forecast == "sunny")
        {
            <p>Recommendation: Pack some sunblock</p>
        }

        if (weather.High >= 75)
        {
            <p>Recommendation: Bring an extra gallon of water</p>
        }

        if (Math.Abs(weather.High - weather.Low) > 20)
        {
            <p>Recommendation: Wear breathable layers</p>
        }
        if (weather.Low < 20)
        {
            <p>Recommendation: Be careful of extreme cold</p>
        }

    }
</div>
